!!!
%html
  %head
    %title BTender
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_pack_tag 'application'
  %body
    = render 'layouts/headers'
    .container
      = yield
